$card-heigth: 170px;
$card-width: 100px;
$flip-animation-time: 600ms;
$zoom-scale-flipped: 1.1;
.FlipperCard {
    position: relative;
    transform-style: preserve-3d;
    transition: $flip-animation-time;
    width: $card-width;
    height: $card-heigth;
    margin: 10px;
    &.Flipped {
        transform: rotateY(180deg) scale($zoom-scale-flipped);
        .Card {
            &.Rear {
                box-shadow: 0px 0px black;
            }
        }
    }
    .Card {
        width: $card-width;
        height: $card-heigth;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        box-shadow: 2px 6px 12px 8px transparent;
        transition: $flip-animation-time;
        cursor: pointer;
        &.Front {
            background: red;
            z-index: 2;
        }
        &.Rear {
            background: blue;
            transform: rotateY(180deg);
        }
    }
}